{% extends 'base.html' %}

{% block content %}

{% if result == 1 %}
  <div class="alert alert-danger" role="alert">Nombre de Usuario y/o Contraseña incorrecta.</div>
{% endif %}
{% if result == 2 %}
  <div class="alert alert-danger" role="alert">Usuario desactivo</div>
{% endif %}

<form action="/auth/login" method="post">{% csrf_token %}
  <section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                <h1>Ingrese con el nombre de usuario</h1>
                  {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                  {% endif %}
                  <div class="form-group">
                      <label for="email" class="sr-only">Nombre de Usuario</label>
                      <input type="text" name="username" id="username" class="form-control" placeholder="Nombre de Usuario">
                  </div>
                  <div class="form-group">
                      <label for="key" class="sr-only">Contraseña</label>
                      <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
                  </div>
                  <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                <hr>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
</form>
{% endblock %}
