.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row {
	margin: 2px 0px 2px 0px;
}

.column-invoice {
	width: 33.333333333%
}

.panel-total {
	font-size: 15px;
	padding: 8px;
}

.panel-total .div-item-cant {
	padding-left: 25px;
}

.validator-form small {
	font-size: 12px;
	color: red;
	margin-top: 2px;
}

.selectContainer {
	margin-bottom: 0px;
}

.panel-body {
	font-size: 15px;
}

.table-items label{
	font-weight: 400;
	background-color: rgba(255, 255, 255, 0.08);
}

.validator-form .selectContainer {
	margin-bottom: 2px;
}

.client-detail p {
	font-size: 15px;
}

.client-detail label {
	font-weight: 200;
}

.searchable tr:hover {
    cursor: pointer;
    background-color: #ccc;
}

.div-input-row {
	margin: 5px 5px 10px 5px;
}

.scrollable-table-invoices {
  height:200px;
  overflow:auto;
}


/* Login */

#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
  margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
  text-align: center;
  display: block;
}

/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
  -------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}


/*    --------------------------------------------------
    :: Table
  -------------------------------------------------- */

